/*template*/
body{
    background: linear-gradient(burlywood, rgb(215, 142, 46))
}

.navcolor{
    background: rgb(184, 109, 55);
}

.footercolor{
    background: rgb(184, 109, 55);
}

h1{
    color:saddlebrown;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: bold;
    text-decoration: dotted underline;
}

/*submit buttons*/
.notebutton{
    color: rgb(184, 109, 55);
}

.loginbutton{
    color: rgb(184, 109, 55);
}

